*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/fondo_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   
.contenedor{
    width: 320px;
    height: 430px;
    background-color: black;
    color: white;
    margin: auto;
    padding: 70px 30px;
    position: relative;
    margin-top: 100px;
}
.contenedor img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}
.contenedor h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}
.contenedor label{
    font-weight: bold;
    display: block;
}
.contenedor input{
    width: 100%;
    margin-bottom: 20px;
}
.contenedor input[type="text"], .contenedor input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background-color: black ;
    outline: none;
    height: 40px;
    /* color: white; */
}
.contenedor input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.1em;
    background-color: red;
    border-radius: 15px;
}
.contenedor input[type="button"]:hover, .contenedor input[type="button"]:focus{ /* hand over */
    background-color: white;
    color: white;
    text-shadow: 2px 2px 0 red, 2px -2px 0 red, -2px 2px 0 red, -2px -2px 0 red, 2px 0px 0 red, 0px 2px 0 red, -2px 0px 0 red, 0px -2px 0 red;
    cursor: pointer;
}

.contenedor a{
    text-decoration: none;
    display: block;
    color: darkgray;
    font-size: 0.8em;
    line-height: 20px;
}
.contenedor #mensaje{
    border: none;
    font-size: .6em;
    font-weight: lighter;
}

.contenedor .blanco{
    color: white;
}
.contenedor .rojo{
    color: red;
}
.contenedor .verde{
    color: green;
    font-size: 0.8em !important;
}

